*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root{
    --main-bg-color: #fff;
    --secondary-bg-color: #f0efef;
    --main-font-color: #757775;
    --heading-font-color: black;
    --links-color: blue;
    --border-color: #ded0d0;
    --form-color: #dedcdc;
}
:focus{
    outline:none;
}
a{
    text-decoration: none;
    color: var(--links-color);
}
body{   
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}
body::-webkit-scrollbar {
    display: none;
  }
.first-row{
    display:flex;
    justify-content: space-between;
    color: var(--links-color);
    position: sticky;
    background-color: var(--secondary-bg-color);
    top:0;
    left:0;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}
.fa-pen-to-square{
    transform: scale(1.2);
}
h1{
    font-size: 2rem;
    margin: 10px auto;
}
form{
    width:100%;
    background-color: var(--form-color);
    border-radius: 10px;
    padding:7px 10px;
}
#search{
    border:none;
    background-color: var(--form-color);
}

.fa-magnifying-glass{
    color:#bbb9b9;
}
::placeholder{
    font-size: 1rem;
}
.second-row{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 0;
}
.section1{
    border-bottom: 1px solid var(--border-color);
    padding:10px 15px 5px 15px;
}
h1,h2,h3{
    color: var(--heading-font-color);
}
.chat{
    display: flex;
    padding: 10px 0;
}
.chat img{
    display: block;
    width:50px;
    border-radius: 50%;
}
.message-container{
    width: 100%;
}
.preview{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
}
.contact-name{
    font-size: 18px;
}
.time{
    margin-left: auto;
    color:var(--main-font-color);
}
.break-line{
    height: 1px;
    display:inline-block;
    width:calc(100% - 50px);
    margin-left:70px;
    background-color: var(--border-color);
}
#seen{
    width: 16px;
    display: inline;
    margin-right: 3px;
}
.message{
    margin-left: 20px;
    color:var(--main-font-color);
    max-width: 25ch;
}
.section2{
    margin-top: 5px;
    padding: 0 20px;
}
.encrypted-message{
    margin: 10px 0;
}
.encrypted-message p{
    text-align: center;
    color: var(--main-font-color);
    font-size: 14px;
}
.fa-lock{
    margin:0 10px 0 10px;
    font-size: 10px;
}
nav{
    position:sticky;
    bottom:0;
    left:0;
    right:0;
    z-index: 2;
    margin-top: auto;   
}
.nav-menu{
    display:flex;
    justify-content: space-around;
    background-color: var(--secondary-bg-color);
    border-top: 1px solid var(--border-color);
    padding: 10px 0 3px 0;
    
}
nav li{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fas{
    color:var(--main-font-color);
    transform: scale(1.4);
    margin-bottom: 7px;
}
.nav-menu a{
    color:var(--main-font-color);
}
/** Here the only the active tab has the var--link-color*/

.fa-comments{
    color:var(--links-color);
}
.nav-item{
    font-size: 0.7rem;
}
.item-active a{
    color:var(--links-color);
}

@media screen and (min-height:669px){
    nav{
        position: fixed;
    }
}